<%- include("templates/header") %>

    <div class="container text-center mt-5">
        <% if (name) { %>
            <h2 class="mb-3">Hello, <%= name %>!</h2>
            <a href="/members" class="btn btn-outline-dark">Go To Members Area</a>
            <% } else { %>
                <h1 class="mb-4">Welcome to the App!</h1>
                <p class="lead">Please login or sign up to continue.</p>
                <% } %>
    </div>

    <%- include("templates/footer") %>