<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Log In</h1>
    <form method="POST" action="/login">
        <input name="email" placeholder="Email" required><br>
        <input name="password" type="password" placeholder="Password" required><br>
        <button>Log In</button>
    </form>
</body>

</html>