<!DOCTYPE html>
<html>

<head>
    <title>Members Area</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Welcome, <%= name %>!</h1>
    <img src="/images/<%= image %>" alt="Random Member Image"><br>
    <a href="/logout">Logout</a>
</body>

</html>